@use 'blocks/title';
@use 'blocks/link';
@use 'blocks/header';
@use 'blocks/menu';
@use 'blocks/service';
@use 'blocks/post';
@use 'blocks/menu-mobile';
@use 'blocks/companies';
@use 'blocks/technologies';
@use 'blocks/prices';
@use 'blocks/footer';
@use 'blocks/forms';
@use 'blocks/media';

html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    display: block;
    width: 1064px;
    margin: 0 34px 0 auto;
    position: relative;
    &::before {
        content: '';
        top: 0;
        background: #ffff;
        position: fixed;
        display: block;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        transition: all 0.5s;
    }
    &_active {
        &::before {
            content: "";
            opacity: 0.96;
         }
    }
}

.main {
    &_active {
        &::before {
            content: "";
            opacity: 0.96;
            z-index: 2;
         }
    }
}

.container {
    width: 1064px;
    margin: 0 auto;
}

body {
    background: rgb(248, 248, 248);
}


p {
    margin: 0;
}

.swiper-wrapper {
    overflow: hidden;
}

