@media (max-width: 1200px) {
    .container {
        width: 1063px;
        margin: 0 auto;
        padding: 0 33px;
    }
    .header {
        position: absolute;
    display: flex;
    top: 42px;// добавил 42 пикселя сверху
    align-items: center;
    padding: 0 0;//обнулил было 18
    background: #f8f8f8;
    left: 50%;
  transform: translateX(-50%);
    }
    .contact-links {
        margin-right: 26px;
        display: none;
        gap: 16px;
    }
    .service-links {
        display: flex;
        position: relative;
        gap: 160px;
        &::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 32px;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 1px;
            background: rgb(234, 234, 234);
    }
    }
    .menu {
        &__wrap {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 38px;
        }
        &__column {
            position: relative;
            display: flex;
            align-items: center;
            gap: 16px;
            &:first-child {
                display: none;
            }
        }
        
        &-link {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background: rgb(255, 62, 121);
            &:last-child::before {
                content: "Оставить заявку";
                position: absolute;
                right: 48px;
                color: rgb(27, 28, 33);
                font-family: TT Lakes;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.2px;
                text-align: right;
                width: 125px;
    
                
            }
            &:nth-child(1)::before {
                content: "Статус ремонта";
                position: absolute;
                right: 48px;
                color: rgb(27, 28, 33);
                font-family: TT Lakes;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.2px;
                text-align: right;
                width: 125px;
                
            }
            
        }
        &-burger {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background: rgb(255, 62, 121);
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            justify-content: center;
            span {
                display: block;
            }
            span:first-child {
                width: 18px;
                height: 2px;
                border-radius: 1px;
                background: rgb(255, 255, 255);
            }
            span:nth-child(2) {
                width: 10px;
                height: 2px;
                background: #fff;
                border-radius: 1px;
                background: rgb(255, 255, 255);
            }
            span:last-child {
                width: 14px;
                height: 2px;
                background: #fff;
                border-radius: 1px;
                background: rgb(255, 255, 255);
            }
        }
    }
/*service section*/
    .title {
        position: relative;
        color: rgb(27, 28, 33);
        font-family: TT Lakes;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.6px;
        text-align: left;
       
    }
    .service {
        padding: 42px 0px 0px 0px;
        &__title {
            margin-bottom: 8px;
            margin-left: 0;
            padding-left: 0px;
        }
        &-menu {
            margin-bottom: 16px;
            overflow: unset;
            &__list{
                display: flex;
                gap: 20px;
                list-style: none;
                width: 100%;
                flex-wrap: wrap;
                
                align-items: center;
            }
            &__link{
                display: block;
                color: rgb(126, 126, 130);
                font-family: TT Lakes;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.2px;
                text-align: left;
                &_active {
                    border: 2px solid rgb(184, 255, 236);
                    border-radius: 6px;
                    padding: 8px 16px;    
                    background: rgb(255, 255, 255);
                }
            }
        }
        
    }
    /* post */

    .post {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        &_desktop {
            display: flex;
            visibility: visible;
            gap: 10px;
            justify-content: space-between;
        }
        &_mobile {
            visibility: hidden;
            display: none;
            flex-direction: column;
            gap: 16px;
        }
        &__text {
            padding: 0;
            margin: 0;
            color: rgb(27, 28, 33);
            font-family: TT Lakes;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.2px;
            text-align: left;
            &_desktop {
                visibility: visible;
                margin-bottom: 10px;
                width: 490px;
            }
            &_mobile {
                visibility: hidden;
                padding: 0 16px;
            }
            
        }
        &__img {
            width: 531px;
            height: 383px;
        }
        &__link {
            color: rgb(27, 28, 33);
            font-family: TT Lakes;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.2px;
            text-align: left;
            position: relative;
            text-decoration: none;
            padding-left: 32px;
            
            &::before {
                content: "";
                position: absolute;
                background: url("../icons/arrows.svg");
                left: 0px;
                width: 24px;
                height: 24px;
                top: -3px;
            }
            &_mobile {
                padding: 0 16px;
                padding-left: 32px;
            }
        }
    }
}

@media (max-width: 1119px) {
    
    .container {
        width: 748px;
        margin: 0 auto;
        padding: 0 33px;
    }
   
   
/*service section*/
    .title {
        position: relative;
        color: rgb(27, 28, 33);
        font-family: TT Lakes;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.6px;
        text-align: left;
       
    }
    .service {
        &__title {
            margin-bottom: 8px;
            margin-left: 0;
        }
        &-menu {
            margin-bottom: 16px;
            overflow: scroll;
            &__list{
                display: flex;
                gap: 20px;
                list-style: none;
                width: 1200px;
                flex-wrap: wrap;
                
                align-items: center;
            }
            &__link{
                display: block;
                color: rgb(126, 126, 130);
                font-family: TT Lakes;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: -0.2px;
                text-align: left;
                &_active {
                    border: 2px solid rgb(184, 255, 236);
                    border-radius: 6px;
                    padding: 8px 16px;    
                    background: rgb(255, 255, 255);
                }
            }
        }
        
    }
    /* post */

    .post {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        &_desktop {
            display: flex;
            gap: 10px;
            justify-content: space-between;
            visibility: visible;
        }
        &_mobile {
            display: none;
            visibility: hidden;
            flex-direction: column;
            gap: 16px;
        }
        &__text {
            padding: 0;
            margin: 0;
            color: rgb(27, 28, 33);
            font-family: TT Lakes;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.2px;
            text-align: left;
            &_desktop {
                margin-bottom: 10px;
                width: 320px;
            }
            &_mobile {
                padding: 0 16px;
            }
            
        }
        &__img {
            width: 360px;
            height: 208px;
        }
        &__link {
            color: rgb(27, 28, 33);
            font-family: TT Lakes;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.2px;
            text-align: left;
            position: relative;
            text-decoration: none;
            padding-left: 32px;
            
            &::before {
                content: "";
                position: absolute;
                background: url("../icons/arrows.svg");
                left: 0px;
                width: 24px;
                height: 24px;
                top: -3px;
            }
            &_mobile {
                padding: 0 16px;
                padding-left: 32px;
            }
        }
    }
}

@media (max-width: 992px) {
    .service {
        &__title {
            margin-bottom: 32px;
            margin-left: unset;
        }
    }

    }


@media (max-width: 768px) {
    .hidden-text {
        display: none;
    }
    .container {
        // width: 93vw;
        margin: 0 auto;
        padding: 0 24px;
    }
    .header {
        display: flex;
        align-items: center;
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        padding: 18px 0;
        background: #fff;
    }
    .contact-links {
        margin-right: 26px;
        display: flex;
        gap: 16px;
    }
    .service-links {
        display: flex;
        position: relative;
        gap: 16px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 2px;
            height: 32px;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 1px;
            background: rgb(234, 234, 234);
    }
    }
    .menu {
        &__wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 38px;
        }
        &__column {
            position: relative;
            display: flex;
            align-items: center;
            gap: 16px;
            &:first-child {
                display: flex;
            }
        }
        
        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background: rgb(255, 62, 121);
            &:last-child::before {
                display: none;
    
                
            }
            &:nth-child(1)::before {
                display: none;
                
            }
        }
        &-burger {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background: rgb(255, 62, 121);
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            justify-content: center;
            span {
                display: block;
            }
            span:first-child {
                width: 18px;
                height: 2px;
                border-radius: 1px;
                background: rgb(255, 255, 255);
            }
            span:nth-child(2) {
                width: 10px;
                height: 2px;
                background: #fff;
                border-radius: 1px;
                background: rgb(255, 255, 255);
            }
            span:last-child {
                width: 14px;
                height: 2px;
                background: #fff;
                border-radius: 1px;
                background: rgb(255, 255, 255);
            }
        }
    }
/*service section*/
    .title {
        position: relative;
        color: rgb(27, 28, 33);
        font-family: TT Lakes;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.6px;
        text-align: left;
       
    }
    
    .service {
        padding: 24px 0px 0px 0px;
        &__title {
            margin-bottom: 32px;
            margin-left: 0px;
        }
        &-menu {
            margin-bottom: 32px;
            overflow: scroll;
            &__list{
                display: flex;
                gap: 20px;
                list-style: none;
                flex-wrap: nowrap;
                width: 1300px;
            }
            &__link{
                display: block;
                padding: 8px 16px;
                &_active {
                    border: 2px solid rgb(184, 255, 236);
                    border-radius: 6px;
    
                    background: rgb(255, 255, 255);
                }
            }
        }
        
    }
    /* post */

    .post {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        &_desktop {
            display: flex;
            gap: 10px;
            justify-content: space-between;
            visibility: visible;
        }
        &_mobile {
            display: none;
            visibility: hidden;
            flex-direction: column;
            gap: 16px;
        }
        &__text {
            padding: 0;
            margin: 0;
            color: rgb(27, 28, 33);
            font-family: TT Lakes;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.2px;
            text-align: left;
            &_desktop {
                margin-bottom: 10px;
                width: 312px;
                visibility: visible;
            }
            &_mobile {
                visibility: hidden;
                padding: 0 16px;
            }
            
        }
        &__img {
            width: 360px;
            height: auto;
        }
        &__link {
            position: relative;
            color: rgb(27, 28, 33);
            font-family: TT Lakes;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.2px;
            text-align: left;
            position: relative;
            text-decoration: none;
            padding-left: 32px;
            
            &::before {
                content: "";
                position: absolute;
                background: url("../icons/arrows.svg");
                left: 25px;
                width: 24px;
                height: 24px;
                top: -3px;
            }
            &_mobile {
                padding: 0 16px;
                padding-left: 57px;
            }
        }
    }
}

@media (max-width:732px){
    .contact-links {
        display: none;
    }
    .logo{
        
        margin-left: 0px;
        position: relative;
        &::before {
            content: "";
            display: none;
            position: absolute;
            width: 2px;
            height: 32px;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 1px;
            background: #eaeaea;
        }
    }
    .post {
        display: flex;
        flex-direction: column;
        gap: 16px;
        &_desktop {
            display: none;
            visibility: hidden;
            flex-direction: column;
            gap: 16px;
        }
        &_mobile {
            display: flex;
            flex-direction: column;
            visibility: visible;
            gap: 16px;
        }
        &__text {
            &_desktop {
                width: 100%;
            }
            &_mobile {
                visibility: visible;
                padding: 0 24px;
                order: -2;
            }
        }
        &__img {
            width: 100%;
        }
        &__link {
            &_mobile {
                order:-1;
            }
        }
    }
    .menu {
        width: inherit;
    }
}

@media (max-width:730px) { 
 .container {
    width: 88vw;
 }
}

@media (max-width: 320px) {
    .container {
        width: unset;
        margin: 0 auto;
        padding: 0 16px;
    }
    .header {
        display: flex;
        align-items: center;
    }
    .contact-links {
        display: none;
    }
    .service-links {
        display: flex;
        gap: 16px;
        &::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 32px;
            left: -20px;
            border-radius: 1px;
            background: rgb(234, 234, 234);
    }
    }
    .menu {
        &__wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 38px;
        }
        &__column {
            position: relative;
            display: flex;
            align-items: center;
            gap: 16px;
        }
        
        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background: rgb(255, 62, 121);
        }
        &-burger {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background: rgb(255, 62, 121);
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            justify-content: center;
            span {
                display: block;
            }
            span:first-child {
                width: 18px;
                height: 2px;
                border-radius: 1px;
                background: rgb(255, 255, 255);
            }
            span:nth-child(2) {
                width: 10px;
                height: 2px;
                background: #fff;
                border-radius: 1px;
                background: rgb(255, 255, 255);
            }
            span:last-child {
                width: 14px;
                height: 2px;
                background: #fff;
                border-radius: 1px;
                background: rgb(255, 255, 255);
            }
        }
    }
/*service section*/
    .title {
        position: relative;
        color: rgb(27, 28, 33);
        font-family: TT Lakes;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.6px;
        text-align: left;
       
    }
    .service {
        padding: 24px 0px 0px 0px;
        &__title {
            margin-bottom: 24px;
            margin-left: 0px;
        }
        &-menu {
            margin-bottom: 24px;
            overflow: scroll;
            &__list{
                display: flex;
                gap: 20px;
                list-style: none;
                width: 1220px;
            }
            &__link{
                display: block;
                padding: 8px 16px;
                &_active {
                    border: 2px solid rgb(184, 255, 236);
                    border-radius: 6px;
    
                    background: rgb(255, 255, 255);
                }
            }
        }
        
    }
    /* post */

    .post {
        display: flex;
        flex-direction: column;
        gap: 16px;
        &_desktop {
            display: none;
            visibility: hidden;
            flex-direction: column;
            gap: 16px;
        }
        &_mobile {
            display: flex;
            flex-direction: column;
            visibility: visible;
            gap: 16px;
        }
        &__text {
            padding: 0;
            margin: 0;
            color: rgb(27, 28, 33);
            font-family: TT Lakes;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.2px;
            text-align: left;
            order:-2;
            &_mobile {
                padding: 0 16px;
            }
            
        }
        &__img {
            width: 320px;
            height: 230.8px;
        }
        &__link {
            order: -1;
            position: relative;
            text-decoration: none;
            
            &::before {
                content: "";
                position: absolute;
                background: url("../icons/arrows.svg");
                left: 8px;
                width: 24px;
                height: 24px;
                top: -3px;
            }
            &_mobile {
                padding: 0 16px;
                padding-left: 32px;
            }
        }
    }
    .menu {
        width: unset;
    }
}