.technologies {
    padding-bottom: 52px;
    &__button {
        display: none;
    }
    &-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        height: 162px;
        overflow: hidden;
        margin-bottom: 24px;
    }
    &__slider {
        position: relative;
        display: none;
        .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction, .technology-slider__pagination {
            display: flex;
            position: absolute;
            bottom: -30px;
            justify-content: center;
            span {
                width: 12px;
                height: 12px;
                background: rgb(221, 221, 221);
                
            }
            .swiper-pagination-bullet-active {
                background: rgb(181, 182, 188);
            }
        }
    }
    .technology {
        display: flex;
        gap: 64px;
        flex-direction: column;
        width: 240px;
        background: #fff;
        box-sizing: border-box;
        border: 1px solid rgb(234, 234, 234);
        border-radius: 6px;
        padding: 16px;
        background: rgb(255, 255, 255);
        &__title {
            color: rgb(27, 28, 33);
            font-family: TT Lakes;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.2px;
            text-align: left;
        }
        &__link {
            align-self: flex-end;
        }
    }
}

